---
name: Pull Request checks

"on":
  pull_request:
    branches:
      - main
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read

jobs:
  yaml_check:
    name: "YAML: Syntax checks"
    uses: ./.github/workflows/yaml_check.yaml
