---
name: "Python: Syntax checks"

"on":
  workflow_call:

permissions:
  contents: read

jobs:
  shell:
    name: "Python application"
    runs-on: ubuntu-latest
    steps:
      - id: repo_checkout
        name: "Repository: Checkout"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false
      - id: black
        name: "Black: check python formatting"
        uses: rickstaa/action-black@d86849e16a3c498947d70be55198feb86d5d4f53  # v1.3.3
