---
name: "Python: Syntax checks"

"on":
  workflow_call:

permissions: {}

jobs:
  shell:
    name: "Python application"
    runs-on: ubuntu-latest
    steps:
      - id: repo_checkout
        name: "Repository: Checkout"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
        with:
          persist-credentials: false
      - id: black
        name: "Black: check python formatting"
        uses: rickstaa/action-black@d86849e16a3c498947d70be55198feb86d5d4f53  # v1.3.3
