---
name: "Python: Syntax checks"

"on":
  workflow_call:

jobs:
  shell:
    name: "Python application"
    runs-on: ubuntu-latest
    steps:
      - id: repo_checkout
        name: "Repository: Checkout"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - id: black
        name: "Black: check python formatting"
        uses: rickstaa/action-black@d86849e16a3c498947d70be55198feb86d5d4f53  # v1.3.3
