---
name: "Shell: Syntax checks"

"on":
  workflow_call:

permissions: {}

jobs:
  shell:
    name: "Shell scripts"
    runs-on: ubuntu-latest
    steps:
      - id: repo_checkout
        name: "Repository: Checkout"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
        with:
          persist-credentials: false
      - id: shhellcheck
        name: "Shellcheck: check scripts"
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38  # v2.0.0
